<app-header title="Dashboard"></app-header>
<main>
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 bg-gray-100">
    <div class="container mx-auto p-6">
      <h2 class="text-2xl font-semibold text-gray-800">Editar Factura</h2>
      <!-- Formulario Cabecera -->
      <form (ngSubmit)="guardarCambios()">
        <label class="block mt-4 text-gray-700">Número de Factura:</label>
        <input type="text" [(ngModel)]="invoice.numInvoice" name="numInvoice"
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600 sm:text-sm/6"
          disabled="true">

        <label class="block mt-4 text-gray-700">Cliente:</label>
        <input type="text" [(ngModel)]="invoice.customer" name="customer"
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">

        <label class="block mt-4 text-gray-700">Total:</label>
        <input type="number" [(ngModel)]="invoice.total" name="total" readonly
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">

        <!-- Tabla Detalle de Factura -->
        <h3 class="text-xl font-semibold mt-6">Detalle de la Factura</h3>

        <table class="table-auto w-full mt-4 border-collapse">
          <thead>
            <tr>
              <th class="border px-4 py-2">Producto</th>
              <th class="border px-4 py-2">Cantidad</th>
              <th class="border px-4 py-2">Precio</th>
              <th class="border px-4 py-2">Subtotal</th>
              <th class="border px-4 py-2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of invoice.details; let i = index" class="border-b border-gray-200">
              <td class="border px-4 py-2">
                <input type="text" [(ngModel)]="detalle.product" name="producto-{{i}}"
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
              </td>
              <td class="border px-4 py-2">
                <input type="number" [(ngModel)]="detalle.quantity" name="cantidad-{{i}}"
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                  (input)="calcularTotal()">
              </td>
              <td class="border px-4 py-2">
                <input type="number" [(ngModel)]="detalle.unitPrice" name="precio-{{i}}"
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                  (input)="calcularTotal()">
              </td>
              <td class="border px-4 py-2">
                {{calcularTotal()}}
              </td>
              <td class="border px-4 py-2">
                <button type="button" (click)="confirmarEliminacion(detalle.id, i); calcularTotal()"
                  class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-red-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                  X
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <!-- Botón para agregar un nuevo detalle -->
        <button type="button" (click)="agregarDetalle()"
          class="flex  justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          + Agregar Producto
        </button>

        <!-- Botón de Guardar -->
        <button type="submit" class="mt-6 bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600">
          Guardar Cambios
        </button>
      </form>
    </div>
  </div>
</main>
