<app-header title="Dashboard"></app-header>
<main class="p-3 sm:p-5 bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <section class="bg-white dark:bg-gray-600 shadow-lg rounded-lg p-6">
      <h2 class="text-3xl font-bold text-center text-gray-800 dark:text-white mb-6">Facturas</h2>
      <div class="flex flex-col md:flex-row items-center justify-between mb-4">
        <div class="relative w-full md:w-1/2">
          <input type="text" id="simple-search" [(ngModel)]="searchTerm" name="searchTerm"
            class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            placeholder="Buscar por cliente" (input)="filtrarFactura(searchTerm)">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
              viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
      <div class="overflow-hidden rounded-lg shadow-md">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">ID</th>
              <th scope="col" class="px-6 py-3">Cliente</th>
              <th scope="col" class="px-6 py-3">Fecha</th>
              <th scope="col" class="px-6 py-3">Estado</th>
              <th scope="col" class="px-6 py-3 text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoices | paginate: { itemsPerPage: itemsPerPage, currentPage: page }"
              class="border-b bg-white hover:bg-gray-100 transition dark:bg-gray-600 dark:border-gray-700 dark:hover:bg-gray-500">
              <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">{{ invoice.id }}</td>
              <td class="px-6 py-4">{{ invoice.customer }}</td>
              <td class="px-6 py-4">{{ invoice.date }}</td>
              <td class="px-6 py-4">
                <span
                  [ngClass]="{'bg-green-100 text-green-800': invoice.status === false ? 'Inactiva' : 'Activa', 'bg-red-100 text-red-800': invoice.status === true ? 'Activa' : 'Inactiva'}"
                  class="px-2 py-1 rounded-full text-xs font-semibold">{{ invoice.status }}</span>
              </td>
              <td class="px-6 py-4 flex justify-center space-x-4">
                <a [routerLink]="['/invoice/edit', invoice.id]" class="text-blue-500 hover:text-blue-700"
                  title="Editar">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path
                      d="M17.707 2.293a1 1 0 00-1.414 0l-10 10A1 1 0 006 13v3a1 1 0 001 1h3a1 1 0 00.707-.293l10-10a1 1 0 000-1.414l-3-3z" />
                  </svg>
                </a>
                <a [routerLink]="['/invoice/show', invoice.id]" class="text-green-500 hover:text-green-700" title="Ver">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path
                      d="M10 3a7 7 0 00-7 7 7 7 0 0014 0 7 7 0 00-7-7zm0 2a5 5 0 015 5 5 5 0 01-10 0 5 5 0 015-5z" />
                  </svg>
                </a>
                <button (click)="confirmarEliminacion(invoice.id)" class="text-red-500 hover:text-red-700 cursor-pointer"
                  title="Eliminar">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M9 3a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2H3a1 1 0 110-2h5V3zM4 7h12l-.854 9.146A2 2 0 0113.152 18H6.848a2 2 0 01-1.994-1.854L4 7zm4 2a1 1 0 112 0v6a1 1 0 11-2 0V9zm4 0a1 1 0 112 0v6a1 1 0 11-2 0V9z"
                      clip-rule="evenodd" />
                  </svg>
                </button>

                <!-- <button (click)="cambiarEstado(invoice.id, invoice.status)"
                  [ngClass]="{'text-green-500 hover:text-green-700': invoice.status === false, 'text-red-500 hover:text-red-700': invoice.status === true}"
                  title="Cambiar Estado">

                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm1 11H9v-2h2v2zm0-4H9V5h2v4z" />
                  </svg>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="invoices.length === 0" class="text-center p-4">
          <p class="text-gray-500 dark:text-gray-400">No se encontraron facturas</p>
        </div>
      </div>
      <div class="flex justify-between items-center mt-4 text-gray-600 dark:text-gray-400">
        <span>
          Mostrando <span class="font-semibold">{{ (page - 1) * itemsPerPage + 1 }}</span> -
          <span class="font-semibold">{{ page * itemsPerPage > totalItems ? totalItems : page * itemsPerPage }}</span>
          de
          <span class="font-semibold">{{ totalItems }}</span>
        </span>
        <ul class="inline-flex items-stretch -space-x-px text-gray-900 dark:text-white">
          <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
            [responsive]="true"></pagination-controls>
        </ul>
      </div>
    </section>
  </div>
</main>
